/* mobile style */
@media (max-width: 428px) {
  .address_block {
    margin-bottom: 75px;
  }

  .address_block_buttons {
    flex-direction: column;
    gap: 15px;
  }

  .address_block_btn {
    width: 50%;
  }

  ul {
    margin-top: 25px;
    margin-left: 20px;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

/* tablet style */
@media (min-width: 429px) and (max-width: 768px) {
  .address_block {
    padding: 30px 30px 40px;
    margin-bottom: 75px;
  }

  .address_block_buttons {
    margin: auto;
    gap: 25px;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  ul {
    margin-top: 25px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .leaflet-container {
    margin-bottom: 30px;
  }

  .address_block {
    padding: 30px 20px;
  }

  .address_block_buttons {
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
  }

  .address_block_btn {
    width: inherit;
  }


  .hotel_info>p {
    margin-top: 35px;
  }
}

/* desktop style */
@media (min-width: 768px) and (max-width: 991px) {
  .address_block {
    padding: 40px;
    margin-bottom: 75px;
  }

  .leaflet-container {
    width: 400px;
    /* margin-bottom: 40px; */
  }

  .hotel_info {
    width: 70%;
  }

  .address_block_buttons {
    gap: 25px;
    margin-top: 40px;
    justify-content: space-between;
  }

  .address_block_btn {
    flex-grow: 1;
  }
}

@media (min-width: 992px) {
  .address_block {
    padding: 40px 60px;
    margin-bottom: 75px;
  }

  .leaflet-container {
    width: 50%;
  }

  .hotel_info {
    width: 70%;
  }

  .address_block_buttons {
    margin-top: 40px;
    gap: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .leaflet-container {
    width: 60%;
  }
}