/* mobile style */
@media (max-width: 428px) {
  .address_block {
    padding: 30px 20px 40px;
    margin-bottom: 75px;
  }
  .address_block > ul {
    margin-top: 25px;
    margin-left: 20px;
  }

  .address_block > h3 {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

/* tablet style */
@media (min-width: 429px) and (max-width: 768px) {
  .address_block {
    padding: 30px 30px 40px;
    margin-bottom: 75px;
  }
  .address_block > .buttons {
    max-width: 330px;
    margin: auto;
    gap: 25px;
  }

  .address_block > h3 {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .address_block > ul {
    margin-top: 25px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .address_block > .buttons {
    bottom: -68px;
    width: 100%;
    justify-content: space-between;
  }
  .address_block > .buttons > button:first-child {
    width: inherit;
  }
  .address_block > .buttons > button:last-child {
    width: inherit;
  }

  .address_block > p {
    margin-top: 35px;
  }
}

/* desktop style */
@media (min-width: 769px) and (max-width: 1440px) {
  body {
  }

  header {
    margin-top: 45px;
  }

  .logo_mob {
    display: none;
  }

  footer > a:hover {
    text-decoration: none;
    color: #393939;
  }
}
