.address_block {
  border: 1px solid #ebebeb;
  margin-bottom: 75px;
}

.address_block > .buttons {
  position: relative;
  display: flex;
  gap: 15px;
}
.address_block > .buttons > button:first-child {
  min-width: 120px;
}
.address_block > .buttons > button:last-child {
  min-width: 120px;
  background: #ffffff;
  border: 1px solid #000000;
}

.address_block > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.address_block > h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}

.address_block > ul > li {
  list-style-image: url("../../images/list-style.png");
}

.address_block > ul > li:last-child {
  font-weight: 700;
}
