.address_block {
  border: 1px solid #ebebeb;
  margin-bottom: 75px;
}

.address_block > .buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.address_block > .buttons > button:last-child {
  background: #ffffff;
  border: 1px solid #000000;
}

.address_block > h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}

.address_block > ul > li {
  list-style-image: url('../../images/list-style.png');
}

.address_block > ul > li:last-child {
  font-weight: 700;
}
