.footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 20px 50px;
}

.footer_nav > a {
  text-decoration: none;
  color: #000000;
  width: max-content;
}

.license_info {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  opacity: 0.5;
}
