article>span{
  white-space: pre-line;
  text-align: left;
}

article>p{
  margin-top: 20px;
}

article {
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 40px;
}

.describe_images {
  /* display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(3, 150px); */
}

.describe_images :nth-child(1) {
  z-index: 10;
}
.describe_images :nth-child(2) {
  left: 47%;
  top: -7%;
  z-index: 5;
  /* grid-column: 2;
  grid-row: 2/3; */
}
.describe_images :nth-child(3) {
  left: 10%;
  top: -10%;
  /* grid-column: 1/2;
  grid-row: 3; */
}
  
.describe_img {
  width: 55%;
  position: relative;
  /* height: 100%; */
}