/* mobile style */
@media (max-width: 428px) {
  .room_block_main > img {
    width: 100%;
    /* margin-bottom: 30px; */
  }

  .price_block {
    margin-top: 15px;
  }
  .conveniences {
    margin: 15px auto;
  }
  .room_block_buttons {
    flex-direction: column;
    margin-top: 20px;
  }
  .room_block_btn {
    width: 100%;
  }
}

/* tablet style */
@media (min-width: 429px) and (max-width: 767px) {
  .room_block_buttons {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .room_block_btn {
    width: 50%;
  }
  .room_block_main > img {
    width: 100%;
    /* margin-bottom: 30px; */
  }
}

/* desktop style */
@media (min-width: 768px) and (max-width: 991px) {
  .room_block_buttons {
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
  }
  .room_block_main > img {
    width: 600px;
    /* margin-bottom: 30px; */
  }
}

@media (min-width: 992px) {
  .room_block {
    width: 100%;
  }

  .room_block_main > img {
    width: 360px;
    gap: 25px;
    /* margin-bottom: 30px; */
  }
}
@media (min-width: 768px) {
  .room_block_btn {
    width: 150px;
  }
}
