/* mobile style */
@media (max-width: 428px) {
  .about_hotel {
    margin: 65px auto;
  }

  .about_hotel > h3 {
    margin-bottom: 20px;
  }

  article > a {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #ffc000;
  }
}

/* tablet style */
@media (min-width: 429px) and (max-width: 767px) {
  .about_hotel {
    margin: 65px auto;
  }
  
  .about_hotel > h3 {
    margin-bottom: 20px;
  }
}

/* desktop style */
@media (min-width: 768px) and (max-width: 1440px) {
  body {
  }
}
