.header_h3 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.our_addresses {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}

.contacts > li {
  margin-bottom: 20px;
  /* margin-left: 5px; */
}
.contacts > li:first-child {
  list-style-image: url("../components/images/location.png");
}
.contacts > li:nth-child(2) {
  list-style-image: url("../components/images/phone2.png");
}
.contacts > li:last-child {
  list-style-image: url("../components/images/at_sing.png");
}

hr {
  margin: 40px auto;
  height: 1px;
  background: #ebebeb;
}

.hotel_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.booking_btn {
  background-color: var(--main-color);
  color: black;
}
.booking_btn:disabled {
  background-color: rgba(255, 192, 0, 0.4);
}

.show_place {
  height: fit-content;
  min-height: 70px;
}
#contacts_wrap {
  margin-top: 25px;
}

.back_btn {
  margin-top: 25px;
}

.days_range {
  color: var(--main-color);
  text-transform: capitalize;
}

.booking_room_info {
  text-transform: lowercase;
}

.ghost_button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

#feedback_header {
  text-align: center;
}

.highlight {
  color: var(--main-color);
}