@media (min-width: 992px) {
  footer {
    margin-top: 90px;
  }
   
  /* header */
  .navbar {
    margin-bottom: 100px;
  }
  .logo_mob {
    display: none;
  }

  /* Room block  */
  .room_block {
    width: 100%;
  }
  .room_block_main > img {
    width: 360px;
    gap: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body{
    padding: 40px 60px;
    background-color: var(--main-color);
  }
  #root {
    padding: 30px 60px;
  }
  .header_h3 {
    /* margin-top: 70px; */
    margin-bottom: 25px;
    font-size: 36px;
  }
 

}

@media (min-width: 1200px) {
  body{
    padding: 50px 80px;
    background-color: var(--main-color);
  }
  #root {
    padding: 40px 70px;
  }

  .header_h3 {
    /* margin-top: 100px; */
    margin-bottom: 25px;
    font-size: 36px;
  }

  .hotel_page {
    max-width: 930px;
    margin: auto;
  }
}
