#root {
  margin: 0 auto;
  /* background-color: #4e4e9e; */
  background-color: #dedede;
  /* text-align: center; */
}

body {
  --sizeClose: 30px;
  --main-color: #ffc000;
  --f-z: "Century Gothic", sans-serif;
  font-family: var(--f-z);
}
