@media (max-width: 428px) {
  #root {
    padding: 20px;
  }

  .logo {
    display: none;
  }

  .hotel_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .room1 {
    margin-left: auto;
    margin-right: 0;
    width: 395px;
    height: 280px;
    display: block;
  }

  .our_addresses {
    padding-bottom: 20px;
    text-align: center;
  }

  .header_h3 {
    /* margin-top: 50px; */
    /* margin-bottom: 40px; */
  }

  .room2 {
    display: block;
    margin: auto;
    width: 360px;
  }

  main {
    margin: 50px 0;
  }

  h4 {
    margin-bottom: 20px;
  }

  .license_info {
    margin-bottom: 50px;
    padding: 0 30px;
  }

  .lows_extract {
    margin: 25px 0;
  }

  .contacts > li {
    margin-left: 40px;
  }
}

.mobile {
  display: flex;
  flex-direction: column;
}
