@media (min-width: 485px) and (max-width: 767px) {
  #root {
    padding: 20px 40px;
  }

  main {
    margin: 50px 0;
  }

  .our_addresses {
    padding-bottom: 20px;
    text-align: center;
  }

  .header_h3 {
    font-size: 30px;
  }

  /* article */
  article {
    margin: 40px auto;
  }

  article > h3 {
    margin-bottom: 20px;
    grid-template-rows: 1fr 1fr;
  }

  /* footer */
  footer {
    margin-top: 70px;
  }

  /* header */
  .navbar {
    margin-bottom: 60px;
  }

  .logo {
    display: none;
  }

  /* Room block  */
  .room_block_buttons {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .room_block_btn {
    width: 50%;
  }

  .room_block_main>img {
    width: 100%;
  }

  .conveniences {
    margin: 15px auto 0 0;
  }

  /* Title block */
  .title_block {
    width: 100%;
    border: none;
  }

  .h1 {
    text-align: center;
  }

  .keyhole_color {
    left: 88%;
    top: 103%;
  }

  .keyhole {
    left: 1%;
    top: 100%;
  }

  /*Booking page*/
  #booking_header {
    text-align: center;
  }

  .booking_page {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .map_container {
    height: 300px;
  }

  #contacts_wrap {
    gap: 30px;
    align-items: center;
  }

  .contacts {
    margin-top: 0px;
  }

  .media_links {
    justify-content: center;
  }

  /* welcome block */
  #welcome_block_btn {
    width: 200px;
  }

  /* Form feedback */

}

@media (min-width: 651px) {
  .close_button {
    right: -40px;
    top: -40px;
  }

  /* welcome block */
  #welcome_block_btn {
    width: 200px;
  }
}

@media (min-width: 768px) {

  /*Booking page*/
  .booking_page {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .map_container {
    height: 400px;
  }

  .book_mes_wrap {
    justify-content: center;
  }

  .contacts {
    margin-top: 25px;
  }

  /* Room block  */
  .room_block_btn {
    width: 150px;
  }

  .conveniences {
    margin: 15px auto 0 0;
  }

  /* article */
  article > h3 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #root {
    padding: 25px 40px;
  }

  .header_h3 {
    font-size: 30px;
  }

  /* footer */
  footer {
    margin-top: 70px;
  }

  /* header */
  .navbar {
    margin-bottom: 80px;
  }

  .logo {
    display: none;
  }

  /* article */
  article {
    margin: 40px auto;
    grid-template-columns: 1fr 1fr;
  }

  /* Room block  */
  .room_block_buttons {
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
  }

  .room_block_main>img {
    width: 600px;
  }

  /* Title block */
  .h1 {
    text-align: center;
  }

  .title_block {
    gap: 60px;
  }
  
  .keyhole_color {
    left: 92%;
    top: 78%;
  }

  .keyhole {
    left: 1%;
    top: 75%;
  }

  #contacts_wrap {
    justify-content: center;
    gap: 40px;
  }
}