.room_block {
}

.room_block > img {
  /* width: 100%;
  margin-bottom: 30px; */
}

.room_block > ul {
  list-style: none;
  padding: 0;
}
.room_block > ul > li:first-child {
  margin-bottom: 30px;
}

.price_block {
  line-height: 30px;
  margin-top: 30px;
  white-space: break-spaces;
}

.price_block > div > span {
  font-size: 30px;
}

.room_block_buttons {
  min-width: 330px;
  gap: 20px;
}

.room_info > ul{
  margin-left: 0;
}
.room_info > ul > li {
  list-style-image: none;
}
/* .room_info > ul > li:first-child {
  margin-bottom: 30px;
} */

#learn_more {
  border: var(--main-color) solid 1px;
  color: var(--main-color);
}
#learn_more:hover {
  color: #4096ff;
  border-color: #4096ff;
}