.title_block {
  position: relative;
  gap: 40px;
}

.h1 {
  font-size: 48px;
  text-transform: uppercase;
  text-transform: uppercase;
}

.keyhole_color,
.keyhole {
  z-index: 0;
  position: absolute;
}
