/* mobile style */
@media (max-width: 428px) {
  .to_book_block {
    width: 100%;
    border: none;
    margin-bottom: 160px;
  }

  .h1 {
    margin: 60px 20px 50px;
    text-align: center;
  }

  .keyhole_color {
    left: 80%;
    top: 115%;
  }

  .keyhole {
    left: 10%;
    top: 110%;
  }
}

/* tablet style */
@media (min-width: 429px) and (max-width: 767px) {
  .to_book_block {
    width: 100%;
    border: none;
    margin-bottom: 120px;
  }

  .book_block_btn {
    max-width: 228px;
  }
  .book_block_btn > button {
    width: 100%;
  }

  .h1 {
    margin: 60px 20px 50px;
    text-align: center;
  }

  .keyhole_color {
    left: 80%;
    top: 100%;
  }

  .keyhole {
    left: 10%;
    top: 105%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .book_block {
    display: flex;
  }
}

/* desktop style */
@media (min-width: 992px) and (max-width: 1440px) {
  .book_block {
    padding-left: 25px;
    padding-right: 50px;
  }
  .h1 {
    padding-bottom: 35px;
  }
  .book_block_btn {
    width: 208px;
  }
}
