.to_book_block {
  position: relative;
}

.highlight {
  color: var(--main-color);
}

.h1 {
  font-size: 48px;
  text-transform: uppercase;
  text-transform: uppercase;
}

.booking_button {
  background-color: var(--main-color);
  font-family: var(--f-z);
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.12em;
  color: #000000;
}

.keyhole_color,
.keyhole {
  z-index: -10;
  position: absolute;
}
