/* mobile style */
@media (max-width: 428px) {
  .form {
    margin: 40px auto;
  }

  #form_search {
    padding: 50px 25px;
  }

  #form_booking {
    align-items: center;
    width: 100%;
  }
  #booking_btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #form_search {
  }
  .search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .input_block {
    width: 100%;
    max-width: 330px;
  }

  #form_booking {
    margin: 0px auto;
  }
  #booking_btn {
    margin-top: 20px;
  }
}

/* tablet style */
@media (min-width: 429px) and (max-width: 767px) {
  #form_search {
    padding: 50px 35px;
    max-width: 470px;
  }
  #form_booking {
    align-items: start;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #form_search {
    padding: 50px 50px;
  }

  .search {
    justify-content: center;
    align-items: end;
    gap: 30px;
  }

  .input_block {
    width: 170px;
  }
}

/* desktop style */
@media (min-width: 992px) {
  #form_search {
    padding: 30px 50px;
  }
  .search {
    justify-content: center;
    align-items: end;
    gap: 40px;
  }
  .input_block {
    width: 170px;
  }
}

@media (min-width: 1200px) {
  #form_search {
    padding: 50px;
  }
  .search {
    gap: 40px;
  }
}

@media (min-width: 1300px) {
  .search {
    gap: 50px;
  }
}
