/* mobile style */
@media (max-width: 484px) {
  .form {
    margin: 40px auto;
  }

  #form_search {
    padding: 50px 25px;
  }

  #form_booking {
    align-items: center;
    width: 100%;
  }

  #booking {
    width: 100%;
    max-width: 330px;
  }

  #send_btn {
    width: 100%;
    margin-top: 24px;
  }

  .input_block {
    width: 100%;
  }

  .inputs_wrap {
    width: 100%;
    max-width: 330px;
  }

  .ant-upload-select {
    width: 100%;
  }
  
  .container {
    padding: 0.75rem;
  }
}

@media (max-width: 767px) {
  .ant-picker-panels {
    display: flex;
    flex-direction: column;
  }

  .search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  #form_booking {
    margin: 20px 0;
  }

  #booking_btn {
    margin-top: 20px;
  }
}

@media (min-width: 485px) {
  #booking_btn {
    width: 200px;
  }

  br {
    display: none;
  }
}

/* tablet style */
@media (min-width: 485px) and (max-width: 767px) {
  #form_search {
    padding: 50px 35px;
    max-width: 470px;
    /* margin-bottom: 40px; */
  }

  #form_booking {
    align-items: start;
  }

  #booking {
    width: 330px;
  }

  .input_block {
    width: 330px;
  }
  
  .container {
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #form_search {
    padding: 50px 50px;
    /* margin-bottom: 70px; */
  }

  .container {
    padding: 1.25rem;
  }

  .search {
    justify-content: center;
    align-items: end;
    gap: 30px;
  }

  #search_btn,
  #guests {
    width: 170px;
    flex-shrink: 1;
  }

  .input_block {
    flex-shrink: 1;
  }

  .input_block_booking {
    width: 30%;
  }

  #booking {
    width: 30%;
    margin: auto;
  }
}

/* desktop style */
@media (min-width: 992px) {
  #form_booking {
    align-items: center;
  }

  #form_search {
    padding: 30px 50px;
    /* margin-bottom: 70px; */
  }
  
  .container {
    padding: 1.25rem;
  }

  .search {
    justify-content: center;
    align-items: end;
    gap: 40px;
  }

  #search_btn,
  #guests {
    width: 170px;
    flex-shrink: 1;
  }

  /* .input_block {
    flex-shrink: 1;
  } */
}

@media (max-width: 1199px) {
  .inputs_wrap {
    gap: 20px;
  }

  #form_booking {
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  #form_booking {
    gap: 30px;
  }

  #booking {
    width: 205px;
  }

  #form_search {
    padding: 50px;
  }

  .inputs_wrap {
    gap: 30px;
  }

  .search {
    gap: 40px;
  }
}

@media (min-width: 1300px) {
  .search {
    gap: 50px;
  }

  #form_booking {
    gap: 40px;
  }

  .inputs_wrap {
    gap: 40px;
  }
}