/* mobile style */
@media (max-width: 484px) {
  .form {
    margin: 40px auto;
  }

  #form_search {
    padding: 50px 25px;
  }

  #form_booking {
    align-items: center;
    width: 100%;
  }
  #booking {
    width: 100%;
    max-width: 330px;
  }

  .input_block {
    width: 100%;
    max-width: 330px;
  }
}

@media (max-width: 767px) {
  .ant-picker-panels {
    display: flex;
    flex-direction: column;
  }
  .search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  #form_booking {
    margin: 20px 0;
  }
  #booking_btn {
    margin-top: 20px;
  }

}

@media (min-width: 485px) {
  #booking_btn {
    width: 200px;
  }
  br {
    display: none;
  }
}

/* tablet style */
@media (min-width: 485px) and (max-width: 767px) {
  #form_search {
    padding: 50px 35px;
    max-width: 470px;
    margin-bottom: 40px;
  }
  #form_booking {
    align-items: start;
  }
  #booking {
    width: 330px;
  }
  .input_block {
    width: 330px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #form_search {
    padding: 50px 50px;
    margin-bottom: 70px;
  }

  .search {
    justify-content: center;
    align-items: end;
    gap: 30px;
  }

  #search_btn,
  #guests {
    width: 170px;
    flex-shrink: 1;
  }
  .input_block {
    flex-shrink: 1;
  }
}

/* desktop style */
@media (min-width: 992px) {
  #form_search {
    padding: 30px 50px;
    margin-bottom: 70px;
  }
  .search {
    justify-content: center;
    align-items: end;
    gap: 40px;
  }
  #search_btn,
  #guests {
    width: 170px;
    flex-shrink: 1;
  }
  /* .input_block {
    flex-shrink: 1;
  } */
}

@media (min-width: 1200px) {
  #form_search {
    padding: 50px;
  }
  .search {
    gap: 40px;
  }
}

@media (min-width: 1300px) {
  .search {
    gap: 50px;
  }
}
