/* mobile style */
@media (max-width: 428px) {
  .navbar {
    margin-bottom: 60px;
  }

  .logo {
  }
  .desktop {
    display: none;
  }
}

/* tablet style */
@media (min-width: 429px) and (max-width: 768px) {
  .navbar {
    margin-bottom: 60px;
  }

  .logo {
  }
  .desktop {
    display: none;
  }
}

/* desktop style */
@media (min-width: 769px) and (max-width: 991px) {
  .navbar {
    margin-bottom: 80px;
  }

  .logo_mob {
  }

  .mob {
    display: none;
  }

  footer > a:hover {
    text-decoration: none;
    color: #393939;
  }
}

/* desktop style */
@media (min-width: 992px) and (max-width: 1440px) {
  .navbar {
    margin-bottom: 100px;
  }
}
