.bookingMessage {
  max-width: 385px;
  height: 100%;
  border: 1px solid var(--main-color);
  padding: 25px 45px;
  position: relative;
}

.book_mes_wrap{
  display: flex;
  flex-grow: 1;
}
.bookingMessage > p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  margin-top: 20px;
}
