@media (max-width: 575px) {
  .bookingMessage {
    width: 100%;
    border: 1px solid var(--main-color);
    padding: 85px 20px 20px 40px;
  }

  .clock {
    position: absolute;
    top: 25px;
    left: 45px;
  }
}

.bookingMessage {
  position: relative;
}

.bookingMessage > p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}
