.background {
  position: absolute;
  height: 527px;
  background-image: url('./components/images/Vector.png');
  background-repeat: no-repeat;
}

.background>img {
  position: absolute;
}

.our_addresses{
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */


/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

