.show_license:hover {
  cursor: pointer;
}

.license {
  width: 100%;
}

#modal {
  max-width: 520px;
  margin-top: 80px;
}

.close_button {
  height: var(--sizeClose);
  cursor: pointer;
  position: absolute;

}

.media_links {
  display: flex;
}

.icon_link {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  color: black;
}

.icon_link:hover {
  color: var(--hover-link);
}