.control-arrow {
  height: 100%;
  width: 40px;
}
/* 
.carousel {
  border: 1px dashed black;
} */

/* mobile style */
@media (max-width: 428px) {
  .carousel {
    width: 100%;
    margin-bottom: 40px;
  }
}

/* tablet style */
@media (min-width: 429px) and (max-width: 767px) {
  .carousel {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel {
    width: 500px;
    margin-bottom: 50px;
  }
}
/* desktop style */
@media (min-width: 1200px) and (max-width: 1600px) {
  .carousel {
    width: 700px;
  }
}

@media (min-width: 1601px) {
  .carousel {
    width: 1000px;
  }
}